.anchors-header {
  padding: 10px 0;
}

.anchors-header__menu {
  @include list-reset;
  @include dflex(wrap, row, space-between, center);
  margin: 0 -10px;
}

.anchors-header__menu-item {
  margin: 0 10px;
}

.anchors-header__menu-link {
  @include transition(color);
  color: #000;
  font-size: 15px;
  line-height: 173%;
  text-transform: uppercase;
  font-weight: 400;
}

.anchors-header__menu-link:hover,
.anchors-header__menu-link:focus {
  color: $white-link-hover;
  outline: none;
}

@media (max-width: $tablet-width) {
  .anchors-header {
    display: none;
  }
}
