.refresh-header-phone {
  @include reset;
  position: relative;
  padding-left: 25px;
}

.refresh-header-phone::before {
  @include abs-center-y;
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/icon-phone-golden.svg");
}

.refresh-header-phone a {
  @include transition(color);
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #fff;
}

.refresh-header-phone a:hover,
.refresh-header-phone a:focus {
  color: $white-link-hover;
  outline: none;
}
