.refresh-header__top {
  padding-top: 20px;
  padding-bottom: 15px;
}

.refresh-header__top-container {
  @include dflex(nowrap, row, flex-start, center);
}

.refresh-header__nav-block {
    @include dflex(nowrap, column, flex-start, center);
}

.refresh-header__contacts-block {
  @include dflex(nowrap, column, flex-start, flex-end);
  margin-left: auto;
}

.refresh-header__contacts {
  @include list-reset;
  @include dflex(nowrap, row, center, center);
  margin-bottom: 27px;
}

.refresh-header__contacts-item:not(:last-child) {
  margin-right: 60px;
}

.refresh-header__contacts-link {
  @include reset;
  position: relative;
  padding-left: 30px;
  font-weight: 600;
  font-size: 14px;
  line-height: 186%;
  color: $pale-link-color;
}

.refresh-header__contacts-link::before {
  @include abs-center-y;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.refresh-header__contacts-link--address::before {
  background-image: url("../img/icon-header-address-pale.svg");
}

.refresh-header__contacts-link--email::before {
  background-image: url("../img/icon-header-email-pale.svg");
}

.refresh-header__contacts-link--vk::before {
  background-image: url("../img/icon-header-vk-pale.svg");
}

.refresh-header__contacts-link a {
  @include transition(color);
  font-weight: 600;
  font-size: 14px;
  line-height: 186%;
  color: $pale-link-color;
}

.refresh-header__contacts-link a:hover,
.refresh-header__contacts-link a:focus {
  color: #fff;
  outline: none;
}

.refresh-header__modal-toggle {
  margin-top: 17px;
}

.refresh-header__menu {
  @include list-reset;
  @include dflex(nowrap, row, center, center);
}

.refresh-header__menu-item:not(:last-child) {
  margin-right: 60px;
}

.refresh-header__menu-link {
  @include transition(color);
  font-weight: 700;
  font-size: 15px;
  line-height: 173%;
  text-transform: uppercase;
  color: #fff;
}

.refresh-header__menu-link:hover,
.refresh-header__menu-link:focus {
  color: $white-link-hover;
  outline: none;
}

.refresh-header__menu-link--parent {
  position: relative;
}

.refresh-header__submenu {
  display: none;
}

.refresh-header__menu-link--parent:hover + .refresh-header__submenu,
.refresh-header__menu-link--parent:focus + .refresh-header__submenu {
  position: absolute;
  display: flex;
}

.refresh-header__logo-block {
    @include dflex(nowrap, column, flex-start, flex-start);
    margin-right: 164px;
}

.refresh-header__logo-slogan {
  @include reset;
  margin-top: 7px;
  font-size: 14px;
  line-height:150%;
  letter-spacing: .07em;
  color: #fff;
}
